NEXT_PUBLIC_FIRMEZA_API_URL="http://localhost:3333"
NEXT_PUBLIC_FMZ_API_TIMEOUT_MS="30000"
NEXT_PUBLIC_FMZ_AUTH_TOKEN_STORAGE_KEY="fmz_access_token"

NEXT_PUBLIC_GAMIFICATION_API="http://localhost:3333"
NEXT_PUBLIC_FMZ_TOKEN_CONTRACT=""
NEXT_PUBLIC_GAMIFICATION_CONTRACT=""

NEXT_PUBLIC_ORACLE_API="https://api.fact.finance"

NEXT_PUBLIC_PINATA_JWT=""
NEXT_PUBLIC_PINATA_API_KEY=""
NEXT_PUBLIC_PINATA_API_SECRET=""

NEXT_PUBLIC_EMAILJS_SERVICE_ID=""
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=""
NEXT_PUBLIC_EMAILJS_TEMPLATE_TOKEN=""
NEXT_PUBLIC_EMAILJS_TEMPLATE_INVOICE=""
NEXT_PUBLIC_EMAILJS_TEMPLATE_PIX_RECEIPT=""

NEXT_PUBLIC_PIX_TYPE="cpf"
NEXT_PUBLIC_PIX_KEY=""
NEXT_PUBLIC_PIX_MERCHANT_NAME=""
NEXT_PUBLIC_PIX_MERCHANT_CITY=""
